<!-- this page is http://localhost:3000/sign_up -->
<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>
<!-- a form to create a new instance of user model, @user refers to user model -->
  <%= form_for @user do |form| %>
  <!-- partial is looking for _something, in this case _form, because if I have a long code I wanted to split it. Line bellow does: it goes to _form.html.erb and it does the code there. If the line bellow will missing I have to write everything from _form.html.erb here instead of the line -->
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <!-- toto je button, jen toto -->
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
