<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
    <!-- create a link with value Sign in -->
      <%= link_to t(".sign_in"), sign_in_path %>
      <!-- (".sign_in") referuje mi k tomu co se zobrazi na strance -->
      <!-- Also is possible to write just  "Sign Up" -->
      <!-- this button is appear on my page -->

      <!-- just for case - show Hello link on sign in page -->
     <!--  <%= link_to "Hello", sign_in_path %> -->
     <!-- path is a method provides by rails -->
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
